<div class="rcontainer">
<h4>Angular Compiler:</h4>
<p>The Angular ahead-of-time (AOT) compiler converts your Angular HTML and TypeScript code into efficient JavaScript code during the build phase before the browser downloads and runs that code. Compiling your application during the build process provides a faster rendering in the browser. <br>
The compiler works in JIT mode (Just-in-Time), which means it runs on the user machine every time the app is loaded.</p>

<h4>Building blocks for Angular</h4>
<p>The main building blocks for Angular are modules, components, templates, metadata, data binding, directives, services, and dependency injection.</p>

<h4>Modules</h4>
<p><strong>Basic purpose</strong>Organizing your code into distinct functional modules helps in managing development of complex applications, and in designing for reusability. In addition, this technique lets you take advantage of lazy-loading—that is, loading modules on demand—to minimize the amount of code that needs to be loaded at startup</p>
<p><strong>Definition:</strong></p>
</div>