<div class="rcontainer">
  <h5>References</h5>

<ol>
    <li>https://javascript.info/array-methods</li>
    <li><b>Email validation:</b>https://www.aspsnippets.com/Articles/Email-validation-without-using-Regular-Expression-in-JavaScript.aspx</li>
    <li></li>
    <li>duplicates manuplation: https://medium.com/dailyjs/how-to-remove-array-duplicates-in-es6-5daa8789641c</li>
</ol>

<h2>ES6 New Features</h2>

<h4>1. Default Parameters in ES6</h4>
<p>eg: var link = function(height = 50, color = 'red', url = 'http://azat.co')</p>

<h4>2. Template Literals in ES6</h4>
<p [innerHTML]="templiteral"></p>

<h4>3. Multiline Strings in JS/TS</h4>
<p> By Simply using Backticks "`"</p>

<h4>4. Arrow Functions/Fat arrow in ES6</h4>
<p>This arrow <code>()=></code> function makes your <code>this</code> behave properly. i.e., this will have the same value as in the context of the function—it won’t mutate. The mutation typically happens each time you create a closure. <br> 
Also this arrow function has implicit return feature.</p>

<h4>5. Block-Scoped Constructs Let and Const</h4>
<p>Let and Const Bothare Block scoped. But, Const here is also immutable.</p>

<h4>6. Classes in ES6</h4>
<p>ES6 class will use prototypes, not the function factory approach.</p>

<h4>7. Modules in ES6</h4>
<p>In ES6 you can expose your class with export.</p>

<h4>2. Template Literals in ES6</h4>
<p [innerHTML]="templiteral"></p>

<h4>2. Template Literals in ES6</h4>
<p [innerHTML]="templiteral"></p>

<h4>2. Template Literals in ES6</h4>
<p [innerHTML]="templiteral"></p>

<h4>2. Template Literals in ES6</h4>
<p [innerHTML]="templiteral"></p>

<h4>2. Template Literals in ES6</h4>
<p [innerHTML]="templiteral"></p>

<h4>9. Enhanced Object Literals in ES6</h4>
<p [innerHTML]="templiteral"></p>

<h4>10. Destructuring Assignment in ES6</h4>
<p [innerHTML]="destructuring"></p>
<p>It also works with Arrays.</p>
<hr>

<h4>Constructor</h4>
<p>A constructor is a function that creates an instance of a class which is typically called an “object”. In JavaScript, a constructor gets called when you declare an object using the new keyword. The purpose of a constructor is to create an object and set values if there are any object properties present.</p>

<h4>Prototype</h4>
<p>In javaScript environment when ever we create any function the JS engine adds a prototype property to that function. This prototype property is an object that has constructor property by default. <br> use case: Prototypes allow you to easily define methods to all instances of a particular object.</p>

<hr>
<h4>Data Types:</h4>

<p>String, Number, Boolean, Null, Undefined, Array, Function, Object</p>

<h4>Arrays</h4>

<h6>Remove duplicate elements using ES6 Set, Filter and Reduce Methods.</h6>
<pre [innerHTML]="dupfilter"></pre>

<h6>Sorting array objects based on values(String)</h6>

<pre [innerHTML]="arrayobjsort"></pre>

<h5>Hoisting</h5>
<p>Hoisting is a JavaScript mechanism where variables and function declarations are moved to the top of their scope before code execution. Inevitably, this means that no matter where functions and variables are declared, they are moved to the top of their scope regardless of whether their scope is global or local</p>

<h5>Call by value</h5>
<p>When a variable is passed as a parameter to a function, if any changes are made to the parameter, the original variable will remain unaffected. This is known as call by value and this is true for all values having a primitive data type. eg: numbers, strings, booleans, null, undefined</p>

<h5>Call by reference</h5>
<p>When a variable’s reference(address) and not its value is passed to a function’s parameter, any changes made to the parameter will update the original variable reference. This is known as call by reference and this is true for all values having a non-primitive data type. eg:  functions and arrays</p>
</div>