<div class="rcontainer">
<h4>Arrays</h4>

<h5>References</h5>

<ol>
    <li>https://javascript.info/array-methods</li>
    <li><b>Email validation:</b>https://www.aspsnippets.com/Articles/Email-validation-without-using-Regular-Expression-in-JavaScript.aspx</li>
    <li></li>
    <li>duplicates manuplation: https://medium.com/dailyjs/how-to-remove-array-duplicates-in-es6-5daa8789641c</li>
</ol>

<h6>Remove duplicate elements using ES6 Set, Filter and Reduce Methods.</h6>
<pre [innerHTML]="dupfilter"></pre>

<h6>Sorting array objects based on values(String)</h6>

<pre [innerHTML]="arrayobjsort"></pre>

<h5>Hoisting</h5>
<p>Hoisting is a JavaScript mechanism where variables and function declarations are moved to the top of their scope before code execution. Inevitably, this means that no matter where functions and variables are declared, they are moved to the top of their scope regardless of whether their scope is global or local</p>

<h5>Call by value</h5>
<p>When a variable is passed as a parameter to a function, if any changes are made to the parameter, the original variable will remain unaffected. This is known as call by value and this is true for all values having a primitive data type.</p>

<h5>Call by reference</h5>
<p>When a variable’s reference(address) and not its value is passed to a function’s parameter, any changes made to the parameter will update the original variable reference. This is known as call by reference and this is true for all values having a non-primitive data type.</p>
</div>