<div class="rcontainer">

  <p>Angular recommends the use of Microsoft’s TypeScript language, which introduces the following features:</p>

<ul>
	<li>Class-based Object-Oriented Programming</li>
	<li>Static Typing</li>
</ul>


<h4>OOPs Basics</h4>
<p><strong>Abstraction:</strong> It is a feature of OOPS where we show the essentials and hide the details of any metod.</p>

<p><strong>Encapsulation:</strong> It is a feature of OOPS where we group all related Functions/methods and variables/data into an object. Like an object with complate details of a person.</p>

<p><strong>Inheritance:</strong> It is a feature of OOPS where we use same method from base/parent class in Derived class. In JavaScript/TypeScript it is supported be Prototype. </p>

<p><strong>Polymorphism:</strong> It is a feature of OOPS where we use same method/function for different Objects.</p>
</div>